:root {

  --color-white: #fff;
  --color-black: #000;
  --color-nav: #355674;
  --color-shipping: #D7E6EC;

  --font-heading: 65px;
  --font-body: 18px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--main-color);
}

body {
  background-color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: underline;
}




