:root {

  --color-white: #fff;
  --color-black: #000;
  --color-nav: #355674;
  --color-shipping: #D7E6EC;
  --color-pink: #C1ADCE;
  --color-pink-landing: #C1ADCE92;
  --color-purple: #9478A7;
  --color-dark-purple: #6B5879;
  --color-cart-empty: #6A86A0;

  --font-heading: 65px;
  --font-body: 18px;

}
@media screen and (min-width: 768px) {
  :root {
    --font-heading: 90px;
    --font-body: 20px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--main-color);
}

body {
  background-color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: underline;
}




